html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.NavBar{
  padding: 10px;
  background-image: linear-gradient(to right,rgb(66, 167, 235), rgb(91, 75, 235),rgb(231, 83, 182));

}
.bodycontainer{
  
  max-width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right,rgb(174, 216, 243), rgb(177, 171, 233),rgb(240, 157, 212));
}
.container{
  
  display: flex;
  justify-content: space-around;
  
}
.downNavBar{
  height: 60px;
}
.card{
  width: 500px;
  
}
.section{
  margin: 10px;
  background-color: rgb(212, 236, 250);
}
.card-header{
  
  background-color: rgb(224, 227, 230);
}

.headrs{
  margin-left: 12px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  
}
.btn:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #00b3db;
  border-color: #285e8e; /*set the color you want here*/
}
.button{
  border-radius: 0%;
  border: none;
  background: none;
}





@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
